In [1]:
#subtracting 2 complex numbers

a=5+10j
b=4+20j
c=a-b
print(c)

(1-10j)

In [5]:
#swaping two numbers without using temporary variable

a=10
b=29

print("Before Swaping")
print("a =",a)
print("b=",b)

a,b=b,a

print("After Swaping")
print("a =",a)
print("b=",b)

Before Swaping
a = 10
b= 29
After Swaping
a = 29
b= 10

In [6]:
#swaping number using temporary variabe

a=10
b=20

print("Before Swaping")
print("a =",a)
print("b=",b)

c=a
a=b
b=c

print("After Swaping")
print("a =",a)
print("b=",b)

Before Swaping
a = 10
b= 20
After Swaping
a = 20
b= 10

In [8]:
#fahrenheit to kelvin and clesius

f=100.4
c=5/9*(f-32)
k=c+273

print("fahrenheit =",f)
print("celsius =",c)
print("kelvin =",k)

fahrenheit = 100.4
celsius = 38.00000000000001
kelvin = 311.0